<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Whereisjellyfish</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Site Description Here">
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/lightbox.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/flickity.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/iconsmind.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/jquery.steps.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/custom.css" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" type="image/x-icon" href="http://localhost:3000/favicon.ico" />
        <link rel="icon" href="http://localhost:3000/favicon.ico" type="image/x-icon" />

    </head>
    <body class=" ">
        <div class="main-container">
            <section class="space--sm">
                <div class="container">
                  <div class="col-sm-12 col-lg-12">
                      <div class="masonry masonry-blog-magazine">
                          <div class="row">

                              <div class="masonry__container">
                                  <div class="masonry__item col-sm-12 col-lg-12"></div>
                                  <div class="masonry__item col-sm-12 col-lg-12" data-masonry-filter="Marketing">
                                    <h1>해파리 출몰 내역</h1>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    <div class="row">
                        <div class="col-sm-12 col-lg-12">
                            <div class="masonry masonry-blog-magazine">
                                <div class="row">

                                    <div class="masonry__container">
                                        <div class="masonry__item col-sm-12 col-lg-12"></div>
                                        <div class="masonry__item col-sm-12 col-lg-12" data-masonry-filter="Marketing">
                                                <article class="imagebg border--round" data-scrim-bottom="8">
                                                    <div class="background-image-holder">
                                                        <img alt="background" src="http://www.uux.cn/attachments/2014/12/1_201412161258431nOvN.jpg" />
                                                    </div>
                                                    <div class="article__title">

                                                    </div>
                                                </article>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-sm-6 col-lg-6">
                                    <div class="masonry masonry-blog-magazine">
                                        <div class="row">

                                            <div class="masonry__container">
                                                <div class="masonry__item col-sm-12 col-lg-12"></div>
                                                <div class="masonry__item col-sm-12 col-lg-12" data-masonry-filter="Marketing">
                                                  <p><strong style="font-size: 25px;">노무라입깃해파리</strong>는 어마어마한 크기를 자랑합니다. 갓의 크기는 대략 2m, 몸무게는 최대 200kg까지 나갑니다. 다른 해파리들을 4000개 가량의 촉수로 잡아 갈기갈기 찢어버리며 먹어버립니다.
                                                  만약 이 해파리에게 해를 끼쳤다면 불난 집에 기름을 붓는 격일 것입니다. 위협을 느끼는 순간 이 해파리는 가지고 있던 알과 정자를 모두 방출하는 습성을 가지고 있기 때문입니다.</p>
                                                  <p> 사람 피부와 접촉하면 심한 통증과 함께 붉은 반점을 동반한 채찍 모양의 상처가 생길 수 있습니다. 일시적인 근육 마비가 생길 수도 있으므로 각별한 주의가 필요합니다. 해양수산부에 의하면
                                                  낮 시간엔 수심 10m 근처에 서식하고, 밤에는 수심 40m까지 활개한다고 합니다. <br>그렇다고 해수욕장에서 해파리를 만날 리는 없다고 생각하지 않는 것이 좋습니다.</p>
                                                  <p> 2012년 8월 10일, 인천 을왕리 해수욕장에서 물놀이를 즐기던 초등학생이 이 해파리에 쏘여 사망하는 사고가 발생했습니다. <a href="http://imnews.imbc.com/replay/2012/nwdesk/article/3115840_18680.html"> <기사출처></a></br>
                                                  노약자나 유아, 민감한 사람들은 호흡곤란, 근육마비, 심하면 심장마비까지 올 수 있으므로 물놀이에 가기 전 이 해파리의 출현양상을 꼭 확인해 주세요.</p>
                                                </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                <div class="col-sm-6 col-lg-6">
                                    <div class="masonry masonry-blog-magazine">
                                        <div class="row">

                                            <div class="masonry__container">
                                                <div class="masonry__item col-sm-12 col-lg-12"></div>
                                                <div class="masonry__item col-sm-12 col-lg-12" style="border-left : 1px solid #aaa" data-masonry-filter="Marketing">
                                                  <p><strong style="font-size: 25px;">보름달물해파리</strong>는 우리나라 연안에서 가장 많이 출몰하는 해파리입니다. 직경 약 15cm, 촉수는 약 2~3cm로 비교적 작습니다. 일반적으로 수심 2m정도에서 서식하며, 야간엔 수심 10m에서까지 활개합니다.
                                                  여름철의 뜨거운 날씨에 대량 출몰하는 습성을 보이며, 꼭두새벽의 해변에서 썰물 때 빠져나가지 못한 이 해파리 많이 만날 수 있습니다.</p>
                                                  <p>보름달물해파리들은 대량 발생하고 또한 집단 서식하는 경향이 강합니다. 따라서 어류와 같은 다른 수산물을 어획하는 과정에서 그물을 가득 메워 고기가 들지 못하게 하거나 같이 잡힌 고기의 신선도를 저하시키는 등의 문제를 일으키곤 합니다.
                                                  바닷물을 이용한 발전소에 대량으로 유입되어 발전소 가동을 중단시킨 사례도 있을 정도입니다.</p>
                                                  <p>보고된 독성은 그리 강하지 않을 걸로 보입니다만, 갈수록 늘어가는 이 해파리의 개체수 때문에 민간이 입는 피해는 이만저만이 아닙니다. 갈수록 수온이 올라가고 있음을 생각하면, 이 해파리의 개체수를 줄이는 방안을 고안하는 것이 시급해 보입니다.</p>
                                                </br>


                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>


                              </div>

                              <div class="col-sm-4 col-lg-4">
                                  <div class="masonry masonry-blog-magazine">
                                      <div class="row">

                                          <div class="masonry__container">
                                              <div class="masonry__item col-sm-12 col-lg-12"></div>
                                              <div class="masonry__item col-sm-12 col-lg-12" data-masonry-filter="Marketing">
                                                <div class="border--round" style="border-width : 3px; border-color: #aaa; border-style : solid;">
                                                    <h2>노무라입깃해파리</h2>

                                                    <% if(Nomura[0] === undefined) { %>
                                                    <h3 style="color: #64acff;"><%= "노무라 해파리가 출현하지 않습니다!" %></h3>
                                                    <h5>축하드려요!</h5>
                                                    <% } %>
                                                    <% if(Nomura[0] !== undefined) { %>
                                                      <h3 style="color: #64acff;"><%= "노무라 해파리가 출현했습니다!" %></h3>
                                                      <h4>[출현 내역]</h4>
                                                      <% for(var i=0; i < Nomura.length; i++) { %>
                                                        <h4 style="color: darkgrey"><<%= i+1%>번째 출현내역></h4>
                                                        <h5>출현월일 : <%= Nomura[i].nomuraDate %></br>출현해역 : <%= Nomura[i].nomuraDesc %></br>출현지역 : <%= Nomura[i].nomuraLdesc%></h5>
                                                      <% } %>
                                                    <% } %>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>



                                      <div class="col-sm-4 col-lg-4">
                                          <div class="masonry masonry-blog-magazine">
                                              <div class="row">

                                                  <div class="masonry__container">
                                                      <div class="masonry__item col-sm-12 col-lg-12"></div>
                                                      <div class="masonry__item col-sm-12 col-lg-12" data-masonry-filter="Marketing">
                                                        <div class="border--round" style="border-width : 3px; border-color: #aaa; border-style : solid;">
                                                            <h2>보름달물해파리</h2>

                                                            <% if(Boreum[0] === undefined) { %>
                                                            <h3 style="color: #64acff;"><%= "보름달 해파리가 출현하지 않습니다!" %></h3>
                                                            <h5>축하드려요!</h5>
                                                            <% } %>
                                                            <% if(Boreum[0] !== undefined) { %>
                                                              <h3 style="color: #64acff;"><%= "보름달 해파리가 출현했습니다!" %></h3>
                                                              <h4>[출현 내역]</h4>
                                                              <% for(i=0; i < Boreum.length; i++) { %>
                                                                <h4 style="color: darkgrey"><<%= i+1%>번째 출현내역></h4>
                                                                <h5>출현월일 : <%= Boreum[i].boreumDate %></br>출현해역 : <%= Boreum[i].boreumDesc %></br>출현지역 : <%= Boreum[i].boreumLdesc%></h5>
                                                              <% } %>
                                                            <% } %>

                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>

                                              <div class="col-sm-4 col-lg-4">
                                                  <div class="masonry masonry-blog-magazine">
                                                      <div class="row">

                                                          <div class="masonry__container">
                                                              <div class="masonry__item col-sm-12 col-lg-12"></div>
                                                              <div class="masonry__item col-sm-12 col-lg-12" data-masonry-filter="Marketing">
                                                                <div class="border--round" style="border-width : 3px; border-color: #aaa; border-style : solid;">
                                                                    <h2>기타 해파리</h2>

                                                                    <% if(Etc[0] === undefined) { %>
                                                                    <h3 style="color: #64acff;"><%= "다른 해파리가 출현하지 않습니다!" %></h3>
                                                                    <h5>축하드려요!</h5>
                                                                    <% } %>
                                                                    <% if(Etc[0] !== undefined) { %>
                                                                      <h3 style="color: #64acff;"><%= "다른 해파리가 출현했습니다!" %></h3>
                                                                      <h4>[출현 내역]</h4>
                                                                      <% for(i=0; i < Etc.length; i++) { %>
                                                                        <h4 style="color: darkgrey"><<%= i+1%>번째 출현내역></h4>
                                                                        <h5>출현월일 : <%= Etc[i].etcDate %></br>출현해역 : <%= Etc[i].etcDesc %></br>출현지역 : <%= Etc[i].etcLdesc%></h5>
                                                                      <% } %>
                                                                    <% } %>

                                                                </div>
                                                              </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                      </div>
                            </div>
                                        <!--end item-->

            </section>

        </div>
        <!--<div class="loader"></div>-->

        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/flickity.min.js"></script>
        <script src="js/easypiechart.min.js"></script>
        <script src="js/parallax.js"></script>
        <script src="js/typed.min.js"></script>
        <script src="js/datepicker.js"></script>
        <script src="js/isotope.min.js"></script>
        <script src="js/ytplayer.min.js"></script>
        <script src="js/lightbox.min.js"></script>
        <script src="js/granim.min.js"></script>
        <script src="js/jquery.steps.min.js"></script>
        <script src="js/countdown.min.js"></script>
        <script src="js/twitterfetcher.min.js"></script>
        <script src="js/spectragram.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/scripts.js"></script>
    </body>
</html>
